In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [7]:
# Connect to sqlite db
'''db_file = r'boardgamesdata.db
engine = r'boardgamesdata/database.sqlite'''

db_file = r'boardgamesdata/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [8]:
#find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [11]:
#get all the rows from the "BoardGames" table in the database
sql = "SELECT * FROM BoardGames;"
bg_data_df = pd.read_sql(sql, engine)
bg_data_df.shape

(90400, 81)

In [19]:
#get all the rows from the "bgg.ldaOut.topics" table in the database
sql = "SELECT * FROM [bgg.ldaOut.topics];"
bg2_data_df = pd.read_sql(sql, engine)
bg2_data_df.shape

(29229, 2)

In [20]:
#get all the rows from the "bgg.ldaOut.top.terms" table in the database
sql = "SELECT * FROM [bgg.ldaOut.top.terms];"
bg3_data_df = pd.read_sql(sql, engine)
bg3_data_df.shape

(250, 4)

In [21]:
#get all the rows from the "bgg.ldaOut.top.documents" table in the database
sql = "SELECT * FROM [bgg.ldaOut.top.documents];"
bg4_data_df = pd.read_sql(sql, engine)
bg4_data_df.shape

(288, 4)

In [22]:
#get all the rows from the "bgg.topics" table in the database
sql = "SELECT * FROM [bgg.topics];"
bg5_data_df = pd.read_sql(sql, engine)
bg5_data_df.shape

(29313, 74)